altgraph==0.17
appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.2.1
cssselect==1.1.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
hyperlink==21.0.0
idna==3.2
incremental==17.5.0
ipython==7.19.0
ipython-genutils==0.2.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.3
jmespath==0.10.0
lxml==4.6.2
MarkupSafe==1.1.1
mechanize==0.4.5
numpy==1.20.2
openai
pandas==1.2.4
paramiko==2.7.2
parsel==1.6.0
parso==0.7.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.1.2
ply==3.11
prompt-toolkit==3.0.8
Protego==0.1.16
proxylist==0.1.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
pycryptodomex==3.9.9
PyDispatcher==2.0.5
Pygments==2.7.1
PyHamcrest==2.0.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyNaCl==1.4.0
pyOpenSSL==20.0.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmi==0.3.4
pysnmp==4.4.6
python-dateutil==2.8.1
pytz==2021.1
queuelib==1.5.0
requests==2.25.1
scapy==2.4.4
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
tbomb==2.1.2
traitlets==5.0.5
Twisted==20.3.0
urllib3==1.26.4
virtualenv==20.4.3
w3lib==1.22.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
Wikipedia-API==0.5.4
WTForms==2.3.3
xlrd==1.2.0
xterm==0.7.3
zope.interface==5.2.0
